# Ignore everything
*

# ...even if they are in subdirectories
# !*/

# Dont ignore README and .gitignore
!.gitignore
!README.md

# Dont ingore my mod dir and everything inside
!/AlphaMod_[0-9]*.[0-9]*.[0-9]*
!/AlphaMod_[0-9]*.[0-9]*.[0-9]*/*
!/AlphaMod_[0-9]*.[0-9]*.[0-9]*/*/*
!/AlphaMod_[0-9]*.[0-9]*.[0-9]*/*/*/*
!/AlphaMod_[0-9]*.[0-9]*.[0-9]*/*/*/*/*
!/AlphaMod_[0-9]*.[0-9]*.[0-9]*/*/*/*/*/*
